<div class="carcass">
    <!-- PRODUCT DETAILS -->
    <section class="product-details-section" *ngIf="product.id">
        <div class="breadcrumb">
            <ul class="breadcrumb">
                <li>
                    <a href="javascript:void(0)">{{ product.fireplaceType }}</a>
                </li>
                <li class="active-breadcrumb">
                    <a href="javascript:void(0)">{{ product.name }}</a>
                </li> 
            </ul>
        </div>
        <div class="product-details-container" style="background-image:url('./assets/images/Core_product_details.jpg')">
            <div class="product-detail-description">
                <h4 class="descr-title">{{ product.name }}</h4>
                <ul class="info-place1">
                    <li>{{ product.product_code }}</li>
                    <li>Direct Vent Gas Fireplace</li>
                </ul>
                <ul class="info-place2">
                    <li *ngIf="product.heat_output">{{ product.heat_output }}</li>
                    <li>Glass Size: 31 1/8"h x 28 5/32"w</li>
                    <li *ngIf="product.fuelType">{{ product.fuelType }}</li>
                    <li>Tall Flame Technology</li>
                    <li>President's Limited Lifetime </li>
                    <li>Warranty</li>
                </ul>
            </div>
        </div>
        <div class="product-detail-description mobile-product-details">
            <h4 class="descr-title">STARfire™ 35</h4>
            <ul class="info-place1">
                <li>Product Code - HDX35</li>
                <li>Direct Vent Gas Fireplace</li>
            </ul>
            <ul class="info-place2">
                <li>Up to 35,000 BTU’s</li>
                <li>Glass Size: 31 1/8"h x 28 5/32"w</li>
                <li>Natural Gas or Propane</li>
                <li>Tall Flame Technology</li>
                <li>President's Limited Lifetime </li>
                <li>Warranty</li>
            </ul>
        </div>
    </section>
    <section class="product-info-large">
        <div class="inner-info-container">
            <p>{{ product.description }}</p>
            <div class="product-detail-link-container">
                <div class="links-header-place">
                    <span> Support center</span>
                    <a class="support-center-link">
                        <span></span>
                    </a>
                </div>
                <ul class="product-info-links">
                    <li>
                        <span></span>
                        <a href="javascript:void(0)"> Installation Tutorials</a>
                    </li>
                    <li class="active">
                        <span></span>
                        <a href="javascript:void(0)">Service Tutorials</a>
                    </li>
                    <li>
                        <span></span>
                        <a href="javascript:void(0)">Product Downloads</a>
                    </li>
                    <li>
                        <span></span>
                        <a href="javascript:void(0)">Product Manuals</a>
                    </li>
                    <li>
                        <span></span>
                        <a href="javascript:void(0)">Product Brochures</a>
                    </li>
                    <li>
                        <span></span>
                        <a href="javascript:void(0)">Spec Sheet</a>
                    </li>
                </ul>
            </div> 
        </div> 
    </section>
    <!-- Options & accessories  -->
    <section class="accessories-section services-section" style="padding-bottom: 0;" *ngIf="product.options && product.options.length">
        <h2 class="section-title">Options & accessories</h2>
        <ul class="product-item-container filtered-results  owl-carousel owl-theme accessories-slider" id="productsSlider">
            <li class="owl-item" *ngFor="let item of product.options">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">{{item.name}}</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div> 
                    <img src="{{ item.imgSrc }}" alt="{{item.name}}">
                </a>
                <h4 class="product-title pr-title2">{{item.name}}</h4>
            </li> 
        </ul>
        <div class="products-dots"></div>
        <h6>Build your own fireplace</h6>
        <a style="width:200px;margin:0 auto " href="javascript:void(0)" class="btn">GET STARTED</a>
    </section>
    <section class="additional-details-section">
        <div class="inner-container">
            <h5>ADDITIONAL PRODUCT FEATURES</h5>
            <p>{{ product.additional_product_features }}</p>   
        </div>
    </section>
    <section class="accessories-section services-section slider2-section" >
        <ul  class="product-item-container filtered-results  owl-carousel owl-theme accessories-slider slider2" id="productsSlider">
            <li class="owl-item">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">Ascent</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div>

                    <img src="./assets/images/fireplace1.jpg" alt="">
                </a>
                <h4 class="product-title pr-title2">Ascent</h4>
            </li>
            <li class="owl-item">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">High definition 46 - hd46</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div>

                    <img src="./assets/images/fireplace2.jpg" alt="">
                </a>
                <h4 class="product-title pr-title2">High definition 46 - hd46</h4>
            </li>
            <li class="owl-item">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">High definition 46 - hd46</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div>

                    <img src="./assets/images/fireplace3.jpg" alt="">
                </a>
                <h4 class="product-title pr-title2">Plazmafire 48 - whd48</h4>
            </li>
            <li class="owl-item">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">Plazmafire 48 - whd48</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div>

                    <img src="./assets/images/fireplace4.jpg" alt="">
                </a>
                <h4 class="product-title pr-title2">High definition 46 - hd46</h4>
            </li>
            <li class="owl-item">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">High definition 46 - hd46</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div>

                    <img src="./assets/images/fireplace5.jpg" alt="">
                </a>
                <h4 class="product-title pr-title2">ASCENT</h4>
            </li>
            <li class="owl-item">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">ASCENT</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div>

                    <img src="./assets/images/fireplace6.jpg" alt="">
                </a>
                <h4 class="product-title pr-title2">Plazmafire 48 - whd48</h4>
            </li>
        </ul>
        <div class="products-dots"></div>
    </section>
    <contacts></contacts>
</div>