<div class="carcass">
    <!-- PRODUCT DETAILS -->
    <section class="product-details-section">
        <div class="breadcrumb">
            <ul class="breadcrumb">
                <li>
                    <a href="javascript:void(0)">Fireplaces</a>
                </li>
                <li class="active-breadcrumb">
                    <a href="javascript:void(0)">Fireplaces</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Grandville 36 CF</a>
                </li>
            </ul>
        </div>
        <div class="product-details-container" style="background-image:url('./assets/images/Core_product_details.jpg')">
            <div class="product-detail-description">
                <h4 class="descr-title">STARfire™ 35</h4>
                <ul class="info-place1">
                    <li>Product Code - HDX35</li>
                    <li>Direct Vent Gas Fireplace</li>
                </ul>
                <ul class="info-place2">
                    <li>Up to 35,000 BTU’s</li>
                    <li>Glass Size: 31 1/8"h x 28 5/32"w</li>
                    <li>Natural Gas or Propane</li>
                    <li>Tall Flame Technology</li>
                    <li>President's Limited Lifetime </li>
                    <li>Warranty</li>
                </ul>
            </div>
        </div>
        <div class="product-detail-description mobile-product-details">
            <h4 class="descr-title">STARfire™ 35</h4>
            <ul class="info-place1">
                <li>Product Code - HDX35</li>
                <li>Direct Vent Gas Fireplace</li>
            </ul>
            <ul class="info-place2">
                <li>Up to 35,000 BTU’s</li>
                <li>Glass Size: 31 1/8"h x 28 5/32"w</li>
                <li>Natural Gas or Propane</li>
                <li>Tall Flame Technology</li>
                <li>President's Limited Lifetime </li>
                <li>Warranty</li>
            </ul>
        </div>
    </section>
    <section class="product-info-large">
        <div class="inner-info-container">
            <p>The Napoleon STARfire™ 35 Gas Fireplace is the perfect statement piece for your home. Advanced burner technology provides a high, centralized flame that creates a glowing ambiance that is perfect for your living room or great room. With
                many decorator options like a modern fire cradle with a Topaz ember bed, or a hand painted, realistic, PHAZER® log set, your room will reflect your personality perfectly. You can even customize the STARfire™ 35 further with the addition
                of enhancement kits, decorative surrounds and MIRRO-FLAME™ or brick panels. Enjoy the warm glow of your fireplace without the fire with our exclusive NIGHT LIGHT™. The STARfire™ 35 Gas Fireplace is available in natural gas and propane,
                and meets the new safety standards with the included Safety Screen.</p>
            <div class="product-detail-link-container">
                <div class="links-header-place">
                    <span> Support center</span>
                    <a class="support-center-link">
                        <span></span>
                    </a>
                </div>
                <ul class="product-info-links">
                    <li>
                        <span></span>
                        <a href="javascript:void(0)"> Installation Tutorials</a>
                    </li>
                    <li class="active">
                        <span></span>
                        <a href="javascript:void(0)">Service Tutorials</a>
                    </li>
                    <li>
                        <span></span>
                        <a href="javascript:void(0)">Product Downloads</a>
                    </li>
                    <li>
                        <span></span>
                        <a href="javascript:void(0)">Product Manuals</a>
                    </li>
                    <li>
                        <span></span>
                        <a href="javascript:void(0)">Product Brochures</a>
                    </li>
                    <li>
                        <span></span>
                        <a href="javascript:void(0)">Spec Sheet</a>
                    </li>
                </ul>
            </div> 
        </div> 
    </section>
    <!-- Options & accessories  -->
    <section class="accessories-section services-section" style="padding-bottom: 0;" *ngIf="serverData.fireplaceOptionsAndAccessories && serverData.fireplaceOptionsAndAccessories.length">
        <h2 class="section-title">Options & accessories</h2>
        <ul class="product-item-container filtered-results  owl-carousel owl-theme accessories-slider" id="productsSlider">
            <li class="owl-item"  *ngFor="let item of serverData.fireplaceOptionsAndAccessories">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">{{item.name}}</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div>

                    <img src="{{ item.imgSrc }}" alt="{{item.name}}">
                </a>
                <h4 class="product-title pr-title2">{{item.name}}</h4>
            </li> 
        </ul>
        <div class="products-dots"></div>
        <h6>Build your own fireplace</h6>
        <a style="width:200px;margin:0 auto " href="javascript:void(0)" class="btn">GET STARTED</a>
    </section>
    <section class="additional-details-section">
        <div class="inner-container">
            <h5>ADDITIONAL PRODUCT FEATURES</h5>
            <ul>
                <li>Exclusive Napoleon NIGHT LIGHT™ radiates a warm glow to the room even when the fireplace is off and features four light settings</li>
                <li>Advanced burner technology with glowing ember bed, produces the most realistic towering flames</li>
                <li>Back-up control system ensures reliable use, even during power failures</li>
                <li>Electronic ignition control system</li>
                <li>Safety Screen Included</li>
                <li>Convenient modulating remote control – controlling flame, NIGHT LIGHT™ and optional blower</li>
                <li>Choice of Fire Cradle with CRYSTALINE™ glass or PHAZER® log set or PHAZER® Oak log set</li>
                <li>Choose from decorative or classic front, both come complete with screen</li>
                <li>Optional heat circulating blower with variable speed and thermostatic control provides powerful heating performance</li>
                <li>Optional AMBIENT-GLOW metal fibers are designed to enhance the glowing embers on gas fires</li>
                <li>Optional Driftwood Log and Rock Media enhancement kit available. Comes with four driftwood logs and a variety of mineral rocks</li>
            </ul>
        </div>
    </section>
    <section class="accessories-section services-section slider2-section" >
        <ul  class="product-item-container filtered-results  owl-carousel owl-theme accessories-slider slider2" id="productsSlider">
            <li class="owl-item">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">Ascent</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div>

                    <img src="./assets/images/fireplace1.jpg" alt="">
                </a>
                <h4 class="product-title pr-title2">Ascent</h4>
            </li>
            <li class="owl-item">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">High definition 46 - hd46</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div>

                    <img src="./assets/images/fireplace2.jpg" alt="">
                </a>
                <h4 class="product-title pr-title2">High definition 46 - hd46</h4>
            </li>
            <li class="owl-item">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">High definition 46 - hd46</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div>

                    <img src="./assets/images/fireplace3.jpg" alt="">
                </a>
                <h4 class="product-title pr-title2">Plazmafire 48 - whd48</h4>
            </li>
            <li class="owl-item">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">Plazmafire 48 - whd48</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div>

                    <img src="./assets/images/fireplace4.jpg" alt="">
                </a>
                <h4 class="product-title pr-title2">High definition 46 - hd46</h4>
            </li>
            <li class="owl-item">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">High definition 46 - hd46</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div>

                    <img src="./assets/images/fireplace5.jpg" alt="">
                </a>
                <h4 class="product-title pr-title2">ASCENT</h4>
            </li>
            <li class="owl-item">
                <a class="ticket-link" href="javascript:void(0)">
                    <div class="shirma"></div>
                    <div class="product-hover-section hover2">
                        <h4 class="product-title pr-title1">ASCENT</h4>
                        <!-- <a class="btn fixed-btn">VIEW MORE</a> -->
                    </div>

                    <img src="./assets/images/fireplace6.jpg" alt="">
                </a>
                <h4 class="product-title pr-title2">Plazmafire 48 - whd48</h4>
            </li>
        </ul>
        <div class="products-dots"></div>
    </section>
    <contacts></contacts>
</div>