<div class="carcass">
    <div class="slider-container home-slider">
        <div class="slider-inner">
            <div class="owl-carousel owl-theme home-slider" id="slider1">
                <div class="owl-item banner-large centered-img" style="background-image:url('./assets/images/banners/large/banner.jpg')">
                    <h1 class="banner-title">Build your own fireplace</h1>
                    <a href="javascript:void(0)" class="btn fixed-btn">GET STARTED</a>
                </div>
                <div class="owl-item banner-large centered-img" style="background-image:url('./assets/images/banners/large/banner2.jpg')">
                    <h1 class="banner-title">Build your own fireplace</h1>
                    <a href="javascript:void(0)" class="btn fixed-btn">GET STARTED</a>
                </div>
                <div class="owl-item banner-large centered-img" style="background-image:url('./assets/images/banners/large/banner3.jpg')">
                    <h1 class="banner-title">Build your own fireplace</h1>
                    <a href="javascript:void(0)" class="btn fixed-btn">GET STARTED</a>
                </div>
            </div>
        </div>
    </div>

    <section class="filters-section" style="padding-top: 0 !important;" id="productFilters">
        <h2 class="section-title">Fireplaces / GAS </h2>
        <div class="filters-place">
            <div class="filter-section">
                <h3>Fireplace size</h3>
                <div class="filter-item">
                    <input type="checkbox" id="c1" name="cc" />
                    <label for="c1" class="filter-label">
                        <span></span>Small (0 - 35")</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="c2" name="cc2" />
                    <label for="c2" class="filter-label">
                        <span></span>Medium (36" - 42")</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="c3" name="cc3" />
                    <label for="c3" class="filter-label">
                        <span></span>Large (43" - 48")</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="c4" name="cc4" />
                    <label for="c4" class="filter-label">
                        <span></span>Extra Large (49" - Up)</label>
                </div>
            </div>
            <div class="filter-section">
                <h3>Fuel type</h3>
                <div class="filter-item">
                    <input type="checkbox" id="c13" name="cc" />
                    <label for="c13" class="filter-label">
                        <span></span>Gas</label>
                </div>
            </div>
            <div class="filter-section">
                <h3>Heat output</h3>
                <div class="filter-item">
                    <input type="checkbox" id="c11" name="cc" />
                    <label for="c11" class="filter-label">
                        <span></span>(0 – 20,000 BTU)</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="c21" name="cc2" />
                    <label for="c21" class="filter-label">
                        <span></span>(20,001 – 30,000 BTU)</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="c31" name="cc3" />
                    <label for="c31" class="filter-label">
                        <span></span>(30,001 – 40,000 BTU)</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="c41" name="cc4" />
                    <label for="c41" class="filter-label">
                        <span></span>(30,001 – 40,000 BTU)</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="c51" name="cc5" />
                    <label for="c51" class="filter-label">
                        <span></span>(40,001 – Up)</label>
                </div>
            </div>
            <div class="filter-section">
                <h3>Price</h3>
                <div class="filter-item">
                    <input type="checkbox" id="c61" name="cc" />
                    <label for="c61" class="filter-label">
                        <span></span>($1,001 - $2,500)</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="c72" name="cc2" />
                    <label for="c72" class="filter-label">
                        <span></span>($2,501 - $5,000)</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="c83" name="cc3" />
                    <label for="c83" class="filter-label">
                        <span></span>($5,001 - Up)</label>
                </div>
            </div>
        </div>
    </section>

    <!-- SERVICES -->
    <section class="services-section" style="padding-bottom: 0;">
        <ul class="product-item-container filtered-results">
            <li>
                <div class="shirma"></div>
                <div class="product-hover-section">
                    <h4 class="product-title pr-title1">ASCENT</h4>
                    <a class="btn fixed-btn">VIEW MORE</a>
                </div>
                <h4 class="product-title pr-title2">ASCENT</h4>
                <img src="./assets/images/fireplace1.jpg" alt="">
            </li>
            <li>
                <div class="shirma"></div>
                <div class="product-hover-section">
                    <h4 class="product-title pr-title1">HIGH DEFINITION 46 - HD46</h4>
                    <a class="btn fixed-btn">VIEW MORE</a>
                </div>
                <h4 class="product-title pr-title2">High definition 46 - hd46</h4>
                <img src="./assets/images/fireplace2.jpg" alt="">
            </li>
            <li>
                <div class="shirma"></div>
                <div class="product-hover-section">
                    <h4 class="product-title pr-title1">Plazmafire 48 - whd48</h4>
                    <a class="btn fixed-btn">VIEW MORE</a>
                </div>
                <h4 class="product-title pr-title2">Plazmafire 48 - whd48</h4>
                <img src="./assets/images/fireplace3.jpg" alt="">
            </li>
            <li>
                <div class="shirma"></div>
                <div class="product-hover-section">
                    <h4 class="product-title pr-title1">Starfire 35 - hdx35</h4>
                    <a class="btn fixed-btn">VIEW MORE</a>
                </div>
                <h4 class="product-title pr-title2">Starfire 35 - hdx35</h4>
                <img src="./assets/images/fireplace4.jpg" alt="">
            </li>
            <li>
                <div class="shirma"></div>
                <div class="product-hover-section">
                    <h4 class="product-title pr-title1">Grandville vf36 - gvf36</h4>
                    <a class="btn fixed-btn">VIEW MORE</a>
                </div>
                <h4 class="product-title pr-title2">Grandville vf36 - gvf36</h4>
                <img src="./assets/images/fireplace5.jpg" alt="">
            </li>
            <li>
                <div class="shirma"></div>
                <div class="product-hover-section">
                    <h4 class="product-title pr-title1">BBQ & Grils</h4>
                    <a class="btn fixed-btn">VIEW MORE</a>
                </div>
                <h4 class="product-title pr-title2">BBQ & Grils</h4>
                <img src="./assets/images/fireplace6.jpg" alt="">
            </li>
        </ul>
    </section> 
    <contacts></contacts>
</div>