<div class="carcass">
    <div class="slider-container home-slider">
        <div class="slider-inner">
            <div class="owl-carousel owl-theme home-slider" id="slider1">
                <div class="owl-item banner-large centered-img" style="background-image:url('./assets/images/banners/large/banner.jpg')">
                    <h1 class="banner-title">Build your own fireplace</h1>
                    <a href="javascript:void(0)" class="btn fixed-btn">GET STARTED</a>
                </div>
                <div class="owl-item banner-large centered-img" style="background-image:url('./assets/images/banners/large/banner2.jpg')">
                    <h1 class="banner-title">Build your own fireplace</h1>
                    <a href="javascript:void(0)" class="btn fixed-btn">GET STARTED</a>
                </div>
                <div class="owl-item banner-large centered-img" style="background-image:url('./assets/images/banners/large/banner3.jpg')">
                    <h1 class="banner-title">Build your own fireplace</h1>
                    <a href="javascript:void(0)" class="btn fixed-btn">GET STARTED</a>
                </div>
            </div>
        </div>
    </div>

    <section class="filters-section" style="padding-top: 0 !important;" id="productFilters">
        <h2 class="section-title">Fireplaces / GAS </h2>
        <div class="filters-place">
            <div class="filter-section">
                <h3>Fireplace size</h3>
                <div class="filter-item" *ngFor="let item of serverData.fireplaceSizeRanges; let i = index">
                    <input type="checkbox" [id]="'size' + i" [checked]="item.isChecked" (click)="item.isChecked=!item.isChecked;changeDetector()" />
                    <label [for]="'size' + i" class="filter-label">
                        <span></span>{{ item.name}}</label>
                </div>
            </div>
            <div class="filter-section">
                <h3>Fuel type</h3>
                <div class="filter-item" *ngFor="let item of serverData.fuelTypes; let i = index">
                    <input type="checkbox" [id]="'fuel' + i" [checked]="item.isChecked" (click)="item.isChecked=!item.isChecked;changeDetector()" />
                    <label [for]="'fuel' + i" class="filter-label">
                        <span></span>{{ item.name}}</label>
                </div>
            </div>
            <div class="filter-section">
                <h3>Heat output</h3>
                <div class="filter-item" *ngFor="let item of serverData.heatOutputRanges; let i = index">
                    <input type="checkbox" [id]="'heat' + i" [checked]="item.isChecked" (click)="item.isChecked=!item.isChecked;changeDetector()" />
                    <label [for]="'heat' + i" class="filter-label">
                        <span></span>{{ item.name}}</label>
                </div>
            </div>
            <div class="filter-section">
                <h3>Price</h3>
                <div class="filter-item" *ngFor="let item of serverData.priceRanges; let i = index">
                    <input type="checkbox" [id]="'price' + i" [checked]="item.isChecked" (click)="item.isChecked=!item.isChecked;changeDetector()" />
                    <label [for]="'price' + i" class="filter-label">
                        <span></span>{{ item.name}}</label>
                </div>
            </div>
        </div> 
        
        <!-- <a class="btn fixed-btn" (click)="filterProducts()">Filter</a> -->
    </section>

    <!-- SERVICES -->
    <section class="services-section" style="padding-bottom: 0;">  
        <ul [@stagger] class="product-item-container filtered-results" *ngIf="filterResults && filterResults.length > 0">
            <li *ngFor="let item of filterResults" [@fade]>
                <div class="shirma"></div>
                <div class="product-hover-section">
                    <h4 class="product-title pr-title1">{{ item.name }}</h4>
                    <a class="btn fixed-btn" routerLink="/product/{{item.id}}">VIEW MORE</a>
                </div>
                <h4 class="product-title pr-title2">{{ item.name }}</h4>
                <img src="{{ item.imgUrl }}" alt="">
            </li>
        </ul> 
        <div class="no-results" *ngIf="noRecords">
            No matching products
        </div>
    </section>
    <contacts></contacts>
</div>