<!-- CONTACTS  -->
<section id="contacts" class="contact-section">
    <h2 class="section-title">CONTACT US</h2>
    <div class="contacts-inner">
        <agm-map class="map-container" id="map" [latitude]="lat" [longitude]="lng" [styles]="mapStyle" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <div class="form-place">
            <div class="form-container">
                <form class="contact-form" id="contact_form" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
                    <div class="contact-form-referral ref1">
                        <div class="default-inp-row split-row">
                            <input id="contact_name" class="def-input" type="text" placeholder="Name" formControlName="name">
                            <input id="contact_zip" class="def-input" type="text" placeholder="Zip code" formControlName="zipCode">
                        </div>
                        <div class="default-inp-row split-row ">
                            <input id="contact_email" class="def-input" type="email" placeholder="Email" formControlName="email" name="contact_email">
                            <input id="contact_phone" class="def-input" type="text" placeholder="Phone" formControlName="phone">
                        </div>
                        <div class="default-inp-row">
                            <textarea id="contact_message" class="def-input" placeholder="Message" formControlName="message" cols="30" rows="10"></textarea>
                        </div>
                        <div class="default-inp-row row-btn">
                            <input type="submit" class="btn-submit btn" id="contact-us-btn" value="Send">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="contacts-bottom mobile-socials">
            <div class="social-icons ">
                <a href="{{ serverData.custom_data.facebook_link }}" target="_blank" class="fb-link"></a>
                <a href="{{ serverData.custom_data.instagram_link }}" target="_blank" class="tw-link"></a>
                <a href="{{ serverData.custom_data.instagram_link }}" target="_blank" class="in-link"></a>
            </div>
        </div>
        <div class="contacts-bottom copyright-outer">
            <!--  <div class="social-icons mobile-socials">
                        <a href="javascript:void(0)" target="_blank" class="fb-link"></a>
                        <a href="javascript:void(0)" target="_blank" class="tw-link"></a>
                        <a href="javascript:void(0)" target="_blank" class="in-link"></a>
                    </div> -->
            <div class="copyright-place">
                <p>©Core 2017</p>
                <div class="copyright-place copyright__1">
                    <span>Website by </span>
                    <a href="http://platinuminkdesign.com" class="footer-link">
                            Platinum Ink Design
                        </a>
                </div>
            </div>
            <div class="social-icons social-desktop">
                <a href="{{ serverData.custom_data.facebook_link }}" target="_blank" class="fb-link"></a>
                <a href="{{ serverData.custom_data.instagram_link }}" target="_blank" class="tw-link"></a>
                <a href="{{ serverData.custom_data.instagram_link }}" target="_blank" class="in-link"></a>
            </div>
            <div class="subscription-form" style="padding: 0;">
                <form id="subscription_form" name="subscription_form" novalidate
                    [formGroup]="subscribeForm" (ngSubmit)="onSubmitSubscribe(subscribeForm)">
                    <input id="subscribe" class="def-input" type="email" placeholder="Your email address" name="subscription_mail"
                     formControlName="email">
                    <input type="submit" class="btn-submit btn" id="subscribe-btn" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</section>