$headerBG: #ffffff;
$sidebarBG: #ffffff;
$carcasBG:#f5f0ed;
$mainColor1: #4e342e;
$mainColor2: #d2c1ba;
$linkColor: #4e342e;
$copywriteColor: #464c46;
$submitButtonBG: #4e342e;
$submitButtonColor: #fff;
$submitButtonFontSize: 16px;
$submitButtonBGhover: #d2c1ba;
$submitButtonColorhover: #4e342e;
$paginationBG: #4e342e;
$paginationColor: #ffffff;
$inputBG: #f5f0ed;
$inputColor: #4e342e;
$slimBG: #f6f0ed;