<div class="carcass">
    <div class="slider-container home-slider">
        <div class="slider-inner"  *ngIf="allInfo.slider && allInfo.slider.length"> 
            <div class="owl-carousel owl-theme home-slider" id="slider1">
                <div class="owl-item banner-large centered-img" [ngStyle]="item.style" *ngFor="let item of allInfo.slider">
                    <h1 class="banner-title">{{ item.title}}</h1>
                    <a href="" class="btn fixed-btn">GET STARTED</a>
                </div>
               
            </div>
        </div>
    </div>
    <!-- ABOUT  US-->
    <section class="about-section" id="about">
        <h2 class="section-title"> About Us </h2>
        <p  *ngIf="allInfo.custom_data && allInfo.custom_data.about_text">
            {{allInfo.custom_data.about_text}}
        </p>
    </section>

    <!-- PRODUCTS -->
    <section class="products-section centered-img " id="productsPAGE">
        <h2 class="section-title">PRODUCTS</h2>
        <ul class="product-item-container owl-carousel owl-theme products-slider" id="productsSlider">
            <li class="owl-item">
                <div class="product-hover-section info-box">
                    <div class="shirma"></div>
                    <h4 class="product-title pr-title1">FIREPLACES</h4>
                    <ul>
                        <li>
                            <a href="">Gas</a>
                        </li>
                        <li>
                            <a href="">Electric</a>
                        </li>
                        <li>
                            <a href="">Outdoor </a>
                        </li>
                    </ul>
                </div>
                <h4 class="product-title pr-title2">Fireplaces</h4>
                <img src="./assets/images/product3.jpg" alt="">
            </li>
            <li class="owl-item">
                <div class="product-hover-section info-box">
                    <div class="shirma"></div>
                    <h4 class="product-title pr-title1"> FIREPLACES</h4>
                    <ul>
                        <li>
                            <a href="">Gas</a>
                        </li>
                        <li>
                            <a href="">Electric</a>
                        </li>
                        <li>
                            <a href="">Outdoor </a>
                        </li>
                    </ul>
                </div>
                <h4 class="product-title pr-title2">Fireplaces</h4>
                <img src="./assets/images/product2.jpg" alt="">
            </li>
            <li class="owl-item">
                <div class="product-hover-section info-box">
                    <div class="shirma"></div>
                    <h4 class="product-title pr-title1"> FIREPLACES</h4>
                    <ul>
                        <li>
                            <a href="">Gas</a>
                        </li>
                        <li>
                            <a href="">Electric</a>
                        </li>
                        <li>
                            <a href="">Outdoor </a>
                        </li>
                    </ul>
                </div>
                <h4 class="product-title pr-title2">Fireplaces</h4>
                <img src="./assets/images/product4.jpg" alt="">
            </li>
            <li class="owl-item">
                <div class="product-hover-section info-box">
                    <div class="shirma"></div>
                    <h4 class="product-title pr-title1"> FIREPLACES</h4>
                    <ul>
                        <li>
                            <a href="">Gas</a>
                        </li>
                        <li>
                            <a href="">Electric</a>
                        </li>
                        <li>
                            <a href="">Outdoor </a>
                        </li>
                    </ul>
                </div>
                <h4 class="product-title pr-title2">Fireplaces</h4>
                <img src="./assets/images/product2.jpg" alt="">
            </li>
            <li class="owl-item">
                <div class="product-hover-section info-box">
                    <div class="shirma"></div>
                    <h4 class="product-title pr-title1"> FIREPLACES</h4>
                    <ul>
                        <li>
                            <a href="">Gas</a>
                        </li>
                        <li>
                            <a href="">Electric</a>
                        </li>
                        <li>
                            <a href="">Outdoor </a>
                        </li>
                    </ul>
                </div>
                <h4 class="product-title pr-title2">Fireplaces</h4>
                <img src="./assets/images/product3.jpg" alt="">
            </li>
        </ul>
        <div class="products-dots"></div>
    </section>
    <!-- MATERIAL PLACE-->
    <section class="material-section">
        <div class="logo"></div>
        <h4>BUILD YOUR OWN FIREPLACE</h4>
        <ul>
            <li>
                <span>Brick</span>
                <div class="img">
                    <img src="./assets/images/brick.jpg" alt="">
                </div>
                <div class="info">
                    <h3>Brick</h3>
                    <p>Description goes here</p>
                </div>
            </li>
            <li>
                <span>WOOD</span>
                <div class="img">
                    <img src="./assets/images/wood.jpg" alt="">
                </div>
                <div class="info">
                    <h3>WOOD</h3>
                    <p>Description goes here</p>
                </div>
            </li>
            <li>
                <span>MARBLE</span>
                <div class="img">
                    <img src="./assets/images/marble.jpg" alt="">
                </div>
                <div class="info">
                    <h3>MARBLE</h3>
                    <p>Description goes here</p>
                </div>
            </li>
            <li>
                <span>STONE</span>
                <div class="img">
                    <img src="./assets/images/stone.jpg" alt="">
                </div>
                <div class="info">
                    <h3>STONE</h3>
                    <p>Description goes here</p>
                </div>
            </li>
        </ul>
        <a style="width:200px;margin:0 auto " href="" class="btn">GET STARTED</a>
    </section>
    <!-- SERVICES -->
    <section class="services-section" id="services" *ngIf="allInfo.services && allInfo.services.length">
        <h2 class="section-title">SERVICES</h2>
        <ul class="product-item-container filtered-results" >
            <li *ngFor="let item of allInfo.services">
                <div class="shirma"></div>
                <div class="product-hover-section">
                    <h4 class="product-title pr-title1">{{ item.name}}</h4>
                    <a class="btn fixed-btn">VIEW MORE</a>
                </div>
                <h4 class="product-title pr-title2">{{ item.name}}</h4>
                <img class="ticket-img" src="{{ item.imgUrl}}" alt="{{ item.name}}">
            </li> 
        </ul>
    </section>
    <!-- TESTIMONIALS-->
    <section class="testimonials-section centered-img" >
        <div class="slider-inner"*ngIf="allInfo.testimonials && allInfo.testimonials.length">
            <div class="owl-carousel owl-theme testimonials-slider" id="sliderTestimonials">
                <div class="owl-item" *ngFor="let item of allInfo.testimonials">
                    <div class="testimonials-container">
                        <div class="testimonials-avatar" [ngStyle]="item.style"></div>
                        <div class="testimonial-text">
                            <h4 class="person-name">{{item.title}}</h4>
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                </div> 
            </div>
            <div [hidden]="allInfo.testimonials.length==1" class="testimonials-dots"></div>
        </div> 
    </section>
    <contacts></contacts>
</div>