/* Style the list */
ul.breadcrumb {
    padding: 0 16px;
    list-style: none; 
    text-align: center;
    margin-bottom: 27px;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0f0f0f;
    font-size: 26px;
    text-transform: uppercase; 
    line-height: 18px;
    margin-bottom: 10px;
    display: inline-block;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
     
}
.active-breadcrumb a{
    color: #f89f1e !important;
    text-decoration: underline
}